.s-site-header{
	padding: 30px 0;
	@include res(xl){
		padding: 15px 0;
	}
	@include res(l){
		padding: 10px 0;
	}
}

.site-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px + 32px;
}

.site-header__logo{
	@include res(xl){
		width: 120px;
		height: auto;
	}
	@include res(l){
		width: 100px;
	}
}

.site-header__nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 1;
	margin: 0 70px;
	@include res(xl){
		margin: 0 50px;
	}
	@include res(l){
		display: none;
	}

	a{
		color: $text-light-grey;
		transition: all 0.3s ease;
		padding: 5px;
		font-size: 18px;
		line-height: 1;
		white-space: nowrap;
		@include res(xl){
			font-size: 14px;
		}

		&:hover{
			color: $azure-focus;
		}
	}
}

.site-header__contacts{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.site-header__phone{
	font-size: 26px;
	line-height: 1;
	margin-bottom: 6px;
	white-space: nowrap;
	@include res(xl){
		font-size: 22px;
	}
	@include res(l){
		font-size: 18px;
		margin-bottom: 2px;
	}
}

.site-header__email{
	font-size: 18px;
	color: $text-light-grey;
	@include res(xl){
		font-size: 14px;
	}
}